html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    min-height: 100vh;
}

.navbar {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
    flex: 1;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.search-icon-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.search-bar input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.logoname {
    font-weight: 500;
    font-size: 35px;
    margin-left: 0px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.user {
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    flex: 0.3;
    justify-content: right;
    text-align: right;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 10;
    width: 200px;
    background-color: #ffffffe3;

    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s left ease;
}

nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

nav p {
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    margin-top: auto;
}

nav a:hover {
    background-color: #c0c0c0;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: block;
    padding: 20px;
}

#sidebar-active:checked~.links-container {
    left: 0;
}

.summer,
.autumn,
.winter,
.spring {
    height: 1000px;
    width: 100%;
}

.summer {
    background-color: orange;
}

.autumn {
    background-color: brown;
}

.winter {
    background-color: lightblue;
}

.spring {
    background-color: lightgreen;
}

@media(max-width: 600px) {
    .search-bar {
        display: none;
        flex: 0;
    }

    .user {
        display: none;
        flex: 0;
    }

    .logoname {
        display: none;
        flex: 0;
    }

    .logo {
        display: flex;
        width: 70px;
    }

    .open-sidebar-button {
        padding-left: 5px;

    }
}