body {
    font-family: Arial, sans-serif;
    background: #f8f6f3;
    margin: 0;

}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
}

#logo {
    padding-top: 50px;
    padding-right: 80px;
}

form {
    background: #fff;
    padding: 32px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.row {
    display: flex;
    gap: 16px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 6px;
    color: #444;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 15px;
    background: #faf9f7;
    resize: none;
}

textarea {
    min-height: 60px;
}

.password-row {
    position: relative;
    display: flex;
    align-items: center;
}

.password-row input[type="password"],
.password-row input[type="text"] {
    width: 100%;
    padding-right: 60px; /* space for button */
    box-sizing: border-box;
}

.showpw, .showcpw {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #eeeeee00;
    border: none;
    color: #444;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    z-index: 2;
}

.submitbutton {
    align-self: center;
    background: #a34e24;
    color: #fff;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submitbutton:hover {
    background: #843e1c;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

footer {
    position: relative;
    text-align: center;
    font-size: 0.8em;
    padding-top: 60px;
    bottom: 0px;
    width: 100%;
}

nav {
    background-color: rgb(219, 219, 218);
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
}

nav .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: rgba(128, 128, 128, 0.493)
}

#sitename {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

#login {
    font-size: 0.75em;
    max-height: 20px;
}